%h1 Contatti

%p
  - link_to "Email",    "mailto:daniele.decibeleventi@gmail.com"
%p
  - link_to "Facebook", "https://www.facebook.com/decibel.eventi"
%p
  - link_to "Twitter",  "https://twitter.com/Decibel_Eventi"