%p
  Decibel Eventi organizza tantissimi eventi, questa e' una breve descrizione di qualche riga molto importante perche' verra' indicizzata e apparira' sia su google che nei link di FB. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu felis non magna ullamcorper malesuada. Mauris porttitor quam in mauris euismod convallis.

%h1 Prossimi Eventi

%section.events
  - articles.each do |article|
    = partial :article, article