%html{ lang: "it-IT" }
  %head
    %title Decibel Eventi
    %link{ rel: "stylesheet", href: "/css/main.css" }
    %script{ type: "text/javascript", src: "/js/ie_html5.js" }
  %body
    #container
      %header
        %h1
          / Decibel Eventi
          %a{ href: "/" }
            %img{ src: "/images/decibel_eventi_logo.png" }
      %nav
        - link_to "Eventi",   "/"
        - link_to "Gallery",  "https://www.facebook.com/decibel.eventi?sk=photos"
        - link_to "Storia",   "/storia"
        - link_to "Contatti", "/contatti"

      %section.content= yield
    %script{ type: "text/javascript", src: "/js/app.js" }
    // loaderio-ffaaccfdc4eb548287c5ae952bae4240