%h1 Storia

:markdown
  Il 2011 di Decibel Eventi è stato davvero un anno ricco di soddisfazioni. Al giro di boa stagionale, dopo l’eccezionale esperienza performativa dei Modeselektor al link di Bologna, Decibel ha ancora diverse sorprese in serbo nel suo calendario.

  Oltre ai già annunciati appuntamenti con **Dj HYPE & Mc Daddy Earl** (venerdi 13 gennaio - Kindergarten / Bologna) e **OSTGUT TON** con **MARCELL DETTMAN & BEN KLOCK** b2b 6 ore (venerdì 10 febbraio – Kindergarten / Bologna), ci sono almeno altre 5 date che possiamo rendere pubbliche.

  Nel 2011 è entrato a pieno diritto nella Top 100 DJS di Dj Magazine alla diciannovesima posizione con menzione speciale “Best New Entry”. Il suo nome è **SKRILLEX** e sarà sul palco dell’Estragon di Bologna il 22 aprile.
  Un altro main guest che balza immediatamente all’occhio è sicuramente **TRENTEMOLLER**, il producer danese noto al grande pubblico per le sue sonorità a cavallo tra elettronica, post rock e psichedelia sarà in consolle a Bologna il 31 marzo.

  Altra serata da appuntare nella vostra wishlist: 9 marzo 15th anniversary DrumCode con **ADAM BEYER e THE ADVENT** live al Kindergarten. Dalla techno all’hip hop il passo è davvero lungo, ma forse non abbastanza per Decibel Eventi e Switch – creative social network che il 3 marzo a Firenze, e più precisamente al Viper Theatre, ospiteranno il Britannico **ED RUSH** figura fondamentale della scena Drum'n'bass/Jungle mondiale e **KAOS ONE** con la presentazione in esclusiva per la Toscana del nuovissimo e cliccatissimo album Post Scripta uscito nel novembre 2011.

  La bella stagione vede inoltre il gradito ritorno di **Dj HYPE** a Firenze (8 aprile – Viper Theatre), memore dello straordinario successo dell’anno scorso il producer britannico non si è fatto pregare per tornare a suonare nel capoluogo toscano.

  La lunga carellata di presentazione dei primi 4 mesi del 2012 si conclude con l’annuncio dell’esplosivo live show dei **DIGITALISM** a Firenze (1 aprile – Viper Theatre), band più volte paragonata ai daft punk e affiliata alla celebre etichetta francese Kitsunè Music. I primi singoli estratti dal loro ultimo album uscito nel 2011 (2 Hearts, Blitz e Forrest Gump) hanno visto la partecipazione di Julian Casablancas, cantante degli Strokes.

  Con questo ultimo nome si conclude il primo aggiornamento del calendario 2012 di Decibel Eventi, continuate a seguirci, nelle prossime settimane saranno molte le novità di cui vi renderemo partecipi!